# === 🐍 Python и Среда окружения ===
__pycache__/
*.py[cod]
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store

# === 🔒 ПРИВАТНОСТЬ (Глобальный бан картинок) ===
*.png
*.jpg
*.jpeg
*.webp
*.bmp
*.tiff

# === 📦 Входные данные ===
# Эту папку лучше оставить в Git, чтобы ты (или другой разраб)
# знал, куда класть фотки для обработки.
images_input/*
!images_input/.gitkeep

# === 🏭 Автоматически создаваемые папки (Игнорируем полностью) ===
# Результаты работы
images_cleaned/

# Обучающие данные (создаются скриптами 0_download и 1_generator)
backgrounds/
train_dataset/
dataset_synthetic/

# Временные файлы
temp_download/
*.zip

# === 🧠 Модели ===
# Папку models оставляем (чтобы знать куда класть best.pt), но содержимое игнорим
models/*
!models/.gitkeep

# Результаты обучения (графики, логи YOLO)
runs/

# === 🧪 Тесты и Логи ===
bench_tests/
logs/
*.log
failed_files.txt
*.pt

# === 🗑️ Старый мусор (на всякий случай) ===
dataset_raw/
datasets/
classes.txt
labelimg/
images_debug/