# === 🐍 Python и Среда окружения ===
__pycache__/
*.py[cod]
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store

# === 📦 Тяжелые данные (Сохраняем папку, но не файлы) ===

# Исходники для разметки
dataset_raw/*
!dataset_raw/.gitkeep

# Входные фото (100к штук)
images_input/*
!images_input/.gitkeep

# Веса моделей (тяжелые .pt файлы)
models/*
!models/.gitkeep

# Папка для отладки
images_debug/*
!images_debug/.gitkeep

# === 🤖 Автоматически созданные папки (Игнорируем полностью) ===
# Подготовленные данные для YOLO (создаются скриптом 1_prepare...)
datasets/

# Результаты обучения YOLO (графики, веса)
runs/

# Результаты работы пайплайна (чистые фото)
images_cleaned/
images_debug_result/
quality_check_results/
debug_step1_results/

# === 📜 Логи и Временные файлы ===
logs/
*.log
failed_files.txt

# Скачанные в корень модели (если вдруг скачались не туда)
*.pt
*.onnx
*.png

# Кэши лейблера
classes.txt

# LabelImg
labelimg/